{% extends 'base.html' %}

{% block title %} Record {% endblock %}

{% block mark_register_page %}
active has-sub
{% endblock %}

{% block content %}

<form method="POST" style="text-align: center;">
    {{ form.hidden_tag() }}
	<span>
	    Enter information below
	</span>

	{{ form.name( class="input1", placeholder="Name") }}

	{{ form.mail( class="input1", placeholder="Email") }}

	{{ form.enroll_no( class="input1", placeholder="Enrollment number")}}

	{{ form.roll_no( class="input1", placeholder="Roll number")}}

	<br>

	{{ form.submit( class="contact1-form-btn", placeholder="Register") }}

	{% with messages = get_flashed_messages(with_categories=true) %}
	    {% if messages %}
		{% for category, message in messages %}
		    <h6 style="color: red;font-size: 15px;padding: 20px;">{{ message }}</h6>
		{% endfor %}
	    {% endif %}
        {% endwith %}
</form>

{% endblock %}
