{% extends 'base.html' %}
{% block title %}
App
{% endblock %}

{% block color %}
w3-custom3
{% endblock %}

{% block import %}
<link rel="stylesheet" type="text/css" href="static/register/css/main.css">
{% endblock %}

{% block class %}
.conatiner 
{
	width: 90%;
	min-height: 100%;
	padding: 15px;
	
	background: rgb(0,0,0);
	background: linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(113,113,201,1) 0%, rgba(25,244,157,1) 110%);

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 260px;
}
{% endblock %}

{% block content %}
	<div class="conatiner">
		
	</div>
{% endblock %}