{% extends 'base.html' %}
{% block title %}
App
{% endblock %}

{% block color %}
w3-custom3
{% endblock %}

{% block import %}
<link rel="stylesheet" type="text/css" href="static/register/css/main.css">
{% endblock %}

{% block class %}
.conatiner 
{
	width: 90%;
	min-height: 100%;
	padding: 15px;
	 → 
    background: -webkit-linear-gradient(to right, #c31432, #240b36,);
    background: linear-gradient(to right, #c31432, #240b36);      
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 260px;
}
{% endblock %}

{% block content %}
	<div class="conatiner">
		
	</div>
{% endblock %}