{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block color %}
w3-custom2
{% endblock %}

{% block import %}
<link rel="stylesheet" type="text/css" href="static/register/css/main.css">
{% endblock %}

{% block class %}
.conatiner 
{
	width: 90%;
	min-height: 100%;
	padding: 15px;
	
	background: -webkit-linear-gradient(to right,#9786f0 , #fbc7d4);  
	background: linear-gradient(to right, #9786f0 ,#fbc7d4);
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 260px;
}
.container2{
	width: 1300px;
	height: auto;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align:center;
  
	padding: 90px 90px 88px 148px;
  
}
{% endblock %}

{% block content %}
	<div class="conatiner">
		<div class="container2">
			<table class="table table-borderless table-condensed table-hover">
				<thead>
					<tr>
						<!-- Your Columns HERE -->
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Enrollment number</th>
						<th scope="col">Roll number</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
						{% for item in items %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.enroll_no }}</td>
							<td>{{ item.roll_no }}$</td>
							<td>
								<button class="btn btn-outline btn-danger">delete</button>
							</td>
						</tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}