<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}
    
{% endblock %}
</title>
{% block import %}

{% endblock %}
<link rel="icon" type="image/png" href="/static/login/images/icons/favicon.ico"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/home/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<style>
{% block class %}

{% endblock %}
body,h1,h2,h3,h4,h5 
{
  font-family: "Poppins", sans-serif;
}
body 
{
  font-size:16px;
}
.w3-half img
{
  margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer
}
.w3-half img:hover
{
  opacity:1
}
.bottom-left
{
  position:absolute;
  bottom:40px;
  left: auto;
  max-width:fit-content;
}
.logo
{
  font-family: 'Courgette', cursive;
  font-size: 30px;
}
</style>

</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar {% block color %} {% endblock %} w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:250px;"><br>
  <div class="w3-container">
    <h3 class="w3-padding-64 logo"><b><a href="{{ url_for('home') }}" style="text-decoration: none;">Attendant</a></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{{ url_for('start') }}" class="w3-bar-item w3-button w3-hover-white">Start</a>
    <a href="{{ url_for('register_page') }}" class="w3-bar-item w3-button w3-hover-white">New Admission</a>
    <a href="{{ url_for('student') }}" class="w3-bar-item w3-button w3-hover-white">Students</a>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-hover-white ">Logout</a>
    <a href="{{ url_for('shutdown') }}" class="w3-bar-item w3-button w3-hover-white bottom-left ">shutdown</a>
  </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>
